.Nav {
    background-color: tomato;
    font-weight: bold;
}

.Nav a {
    color: white;
    text-decoration: none;
}

.Nav a:hover {
    color: lightgrey !important;
}

.Nav a.active {
    font-weight: bold;
    color: black;
}